# Vagrant settings
/.vagrant
/Vagrantfile

# Sublime Text settings
/*.sublime-*

# log files
/private/log

# other private files
/profile.png
/private/config.php
/private/lib/MyLocalLogger
/private/lib/*/*
!/private/lib/*/.gitkeep
